<!DOCTYPE html>
<html>
<head>
    <title>Mi Pack Admin</title>
    <link href="../assets/img/favicon1.png" rel="icon">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="../assets/css/admin.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css" rel="stylesheet">

</head>
<script>document.addEventListener('DOMContentLoaded', function() {
    const fetchData = async () => {
        try {
            const token = localStorage.getItem('token');
            const response = await fetch('https://cronometro.onrender.com/api/trabajadores', {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json',
                    'x-token': token || '',
                },
            });

            if (!response.ok) {
                throw new Error('Error al obtener los trabajadores');
            }

            const data = await response.json();
            const trabajadoresContainer = document.querySelector('.line[target="true"]');

            data.trabajadores.forEach((trabajador) => {
                const cardHTML = `
                    <tr class="shadow-sm">
                            <td class="py-1">
                                <img src="../assets/img/team/profile-pic 12.png" alt="image" class="rounded-circle" style="border: 2px solid #80808080; width: 50px; height: 50px;"/>
                            </td>
                            <td>
    ${trabajador.nombre}
    <br>
    <small class="username-gray">${trabajador.
categoriaDocente}</small>
</td>
                            <td>
                              <div class="progress">
                                <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                              </div>
                            </td>
                            <td>
                              $ 77.99
                            </td>
                            <td>
                              May 15, 2015
                            </td>
                          </tr>
                `;

                trabajadoresContainer.insertAdjacentHTML('beforeend', cardHTML);
            });

        } catch (error) {
            console.error('Error:', error);
        } finally {
            console.log('Fin de la carga');
        }
    };

    fetchData();
});
</script>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primar navbar sticky-top justify-content-between shadow-lg">
 
    <div>
        <a class="navbar-brand px-3 fs-3 font-weight-bold " href="#"><em>Mi Pack</em></a>
       </div>

       
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
       
 

 <div class="collapse navbar-collapse d-flex" id="navbarNav">
    <div class="dropdown mr-0">
        <button class="btn" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img src="../assets/img/icons8-menú-2.svg" style="height: 30px; width: 30px;" alt="">
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#"><em>Inicio</em></a>
            <a class="dropdown-item" href="#"><em>Servicios</em></a>
            <a class="dropdown-item" href="#"><em>Portfolio</em></a>
            <a class="dropdown-item" href="#"><em>Equipo</em></a>
            <a class="dropdown-item" href="#"><em>Sobre nosotros</em></a>
        </div>
    </div>

    <div class="navbar-nav ml-0">
        <div class="nav-item dropdown">
            <a class="nav-link dropdown-toggle px-4" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img src="../assets/img/team/team-1.jpg" alt="Foto" class="rounded-circle" style="width: 40px; height: 40px;">
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#"><em>Cerrar sección</em></a>
                <a class="dropdown-item" href="#"><em>Información</em></a>
            </div>
        </div>
    </div>
</div>
    </nav>
<section>
    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-2 d-none d-md-block bg-light sidebar fixed-left ">
                <div class="sidebar-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link active font-weight-bold fs-5" href="#">
                              <em>Empleados</em> 
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link font-weight-bold fs-5" href="#">
                               <em>Inventario</em>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link font-weight-bold fs-5" href="#">
                               <em>Paquetes a entregar</em> 
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link font-weight-bold fs-5" href="#">
                               <em>Convocatorias</em> 
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link font-weight-bold fs-5" href="#">
                               <em>Clientes</em> 
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>            
        </div>

        <div class="main-content mt-4">

            <div class="font-weight-bold color-text container-fluid d-flex align-items-center px-5 mb-4 justify-content-between">
               <div>
                <h1 class="me-5"><em>Empleados</em></h1>
               </div>
                <form role="search" class="d-flex">
                    <input class="form-control me-2 border border-primary rounded-5" type="search" placeholder="Buscar" aria-label="Search">
                    <button class="btn btn-primary rounded" type="submit">Buscar</button>
                </form>
            </div>
            
            <div class="container">
                <div class="row " target="true">
              
                </div>
            </div>
            <div class="col-lg-12 grid-margin stretch-card ">
                <div class="">
                  <div class="">
                   
                    <div class="table-responsive">
                      <table class="table ">
        
                        <tbody class="line" target="true">
                       
                          
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
        </div>
    </div>
</section>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>