<!DOCTYPE html>
<html>
<head>
    <title>My Pack Employees</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1 class="text-center my-4">My Pack Employees</h1>
        <div class="row">
            <div class="col-md-4">
                <h2>Administrador</h2>
                <p>Insert information about the administrator here.</p>
            </div>
            <div class="col-md-4">
                <h2>Empaquetadoras</h2>
                <ul class="list-unstyled">
                    <li>Cristina Fernadrez de Quirchna</li>
                    <li>Keyla Ruth Labori Blanco</li>
                </ul>
            </div>
            <div class="col-md-4">
                <h2>Repartidores</h2>
                <ul class="list-unstyled">
                    <li>Elizabeth Rodríguez Izaguirre</li>
                    <li>Liena Silvia Gresesqui Montero</li>
                    <li>Thaileen De La Caridad Campos Pelier</li>
                </ul>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>