
body {
    font-family: "Open Sans", sans-serif;
    
  }

.sidebar {
            
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centra los botones verticalmente */
    align-items: center; /* Centra los botones horizontalmente */

    position: fixed;
    top: 60px;
    left: 0;
    width: 250px; /* Ajusta el ancho según sea necesario */
    height: 100%;
    overflow-y: auto; /* Permite el desplazamiento vertical en el sidebar */
    background-color: #f8f9fa; /* Color de fondo del sidebar */
}


  .nav-link {
    position: relative;
    overflow: hidden; /* Asegura que la ralla no se extienda más allá del botón */
    padding-top: 50px ;
}

.nav-link:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 3px;
    background-color: rgb(56, 82, 122);
    transform: translateX(-50%);
    transition: width 0.3s ease-in-out;
}
.navbar-nav .nav-link img {
    border-radius: 50%;
    
}
.bg-primar{
   background-color:rgb(56, 82, 122) ; 
}
.nav-link:hover:before {
    width: 90%; /* Expande la ralla al 100% del ancho del botón */
}
.dropdown-toggle {
    padding:0; /* Ajusta el padding del menú desplegable */
}

.dropdown-item{
    position: relative;
    overflow: hidden; /* Asegura que la ralla no se extienda más allá del botón */
    padding-top: 10px ;
}

.dropdown-item:before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 3px;
    background-color: rgb(56, 82, 122);
    transform: translateX(-50%);
    transition: width 0.3s ease-in-out;
}
.dropdown-item:hover:before{
    width: 90%;
}
.main-content{
    margin-left: 250px; 

}

.color-text{
    color:  rgb(56, 82, 122);
}
.color-red{
    color: rgb(224, 65, 65);
}
.username-gray {
    color: #80808080;
}